@using Entities.Concrete
@model List<Product>


@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
       
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Code</td>
            
            <td>@item.Active</td>

        </tr>
    }
</table>
